<!-- a4s/templates/a4s/ask_question.html -->

{% extends "base.html" %}

{% load markdownify %}
{% load crispy_forms_tags %}

{% block title %} Ask Question {% endblock %}

{% block content %}
<div>
    <h2>Ask Your Question</h2>
    {% if preview %}
    <div class="card question-preview">
        <div class="card-header">
            <h5>Question Preview</h5>
            <kbd class="bg-warning small">
                Happy with the "Question Preview"? Then post the question 
                by clicking the below "Ask!" button.
            </kbd>
        </div>
        <div class="card-body">
            <h6 class="card-title lead">{{ preview.title }}</h6>
            {{ preview.description | markdownify }}
        </div>
    </div><br/>
    {% endif %}

    <form method="post">
        {{ form | crispy }}
        {% csrf_token %}
        <button class="btn btn-primary" type="submit" name="action" value="PREVIEW">
            Preview
        </button>
        <button class="btn btn-success" type="submit" name="action" value="SAVE">
            Ask!
        </button>
    </form>
</div>
{% endblock %}