
{% extends "base.html" %}
{% load markdownify %}

{% block content %}
  {% include 'a4s/sub/display_question.html' %}
  {% if preview %}
    <div class="card question-preview" >
      <div class="card-header" >
        <h5>Answer Preview</h5>
        <kbd class="bg-warning small">
          Happy with the "Answer Preview"? Then post the answer 
          by clicking the below "Answer" button.
        </kbd>
      </div >
      <div class="card-body" >
        {{ preview|markdownify }}
      </div >
    </div >
  {% endif %}
  {% include 'a4s/sub/post_answer.html' with answer_form=form %}
{% endblock %}