<!-- a4s/templates/a4s/home.html  -->

{% extends 'base.html' %}

{% block title %} Home - {{ block.super }} {% endblock title %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4"><code>&lt;ask4solution&gt;</code></h1>
        <p class="lead">
            {% if user.is_authenticated %}
                <br/>
                <p class="lead text-justify">
                    Hi <strong>{{ user.username}}</strong>, <br />
                    Nice to see you again in <code>&lt;ask4solution&gt;</code> app.<br />
                    Have any question in your mind today?
                    Don't worry, asked here. Someome certainly suggest you a solution.
                </p>
                <p class="lead text-justify">
                    Or, maybe you wanna suggest some solutions for unsloved questions.
                    Asker will definitely thanks you for your solution. 
                    <br />GO! Ask for solution or HELP by answering unsoleved questions!
                </p>
                <a class="btn btn-primary btn-md" role="button" href="{% url 'a4s:ask_question'%}">
                    Ask your question here
                </a>
                <!--
                <a class="btn btn-primary btn-md" role="button" href="#">
                    Check unsolved questions here
                </a>
                -->
            {% else %}
                <p class="lead text-justify">
                    Welcome to <code>&lt;ask4solution&gt;</code> app.
                    In this app you can ask any question for solution.
                    Someone know the answer will post the solution.
                    You can accept the right answer from the suggested solutions posted by other members.
                    Also you can search for a question which already asked by someone.
                </p>
                <p class="lead text-justify">
                    If you have any question to ask or 
                    wanna suggest solution for a question askedy by someone,
                    then login now to get the full access of this app.
                    If you are a new user then signup first to become a member.
                </p>
                <a class="btn btn-secondary btn-md" role="button" href="{% url 'login' %}">
                Log in to access
                </a>
                <a class="btn btn-primary btn-md" role="button" href="{% url 'users:signup' %}">
                New? Register here
                </a>
            {% endif %}
        </p>
    </div>
{% endblock content %}
