<!-- a4s/templates/a4s/question_detail.html -->

{% extends "base.html" %}

{% block title %}{{ question.title }} - {{ block.super }}{% endblock %}

{% block content %}
    {% include "a4s/sub/display_question.html" %}
    {% include "a4s/sub/list_answers.html" %}
    {% if user.is_authenticated %}
        {% include "a4s/sub/post_answer.html" %}
    {% else %}
        <div class="mt-2">
            <kbd class="bg-warning lead">Login to post answers!</kbd>
        </div>
    {% endif %} 
{% endblock %}