
{% extends "base.html" %}

{% block title %} Questions on {{ day }} {% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h4>Questions of <strong>{{ day }}</strong></h4 >
        </div>
        <div class="card-body">
            {% for question in object_list %}
                <p class="font-weight-bold lead">
                    <a href="{{ question.get_absolute_url }}" >
                        {{ question }}
                    </a >
                </p>
                <p> 
                    <kbd class="text-muted bg-light small"> 
                        Asked by <strong>{{ question.asker }}</strong> | {{ question.created }}
                    </kbd>
                </p>
                {% if not forloop.last %}<hr />{% endif %}
            {% empty %}
                <p>
                    WOW! No one have any problem today!
                    Seems everybody is haapy of not having any question to ask!
                </p>
            {% endfor %}
        </div>
        <div class="card-footer">
            {% if previous_day %}
                <a 
                    class="btn btn-primary btn-sm"
                    href="{% url "a4s:daily_question_list" year=previous_day.year month=previous_day.month day=previous_day.day %}">
                    &lt;&lt;Previous Day
                </a>
            {% endif %}
            <span class="btn btn-secondary btn-sm">{{ day }}</span>
            {% if next_day %}
                <a 
                    class="btn btn-primary btn-sm"
                    href="{% url "a4s:daily_question_list" year=next_day.year month=next_day.month day=next_day.day %}" >
                    Next Day&gt;&gt;
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}