
{% extends "base.html" %}

{% block title %} Questions on {{ day }} {% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h4>All Questions</h4 >
        </div>
        <div class="card-body">
            {% for question in object_list %}
                <p class="font-weight-bold lead">
                    <a href="{{ question.get_absolute_url }}" >
                        {{ question }}
                    </a >
                </p>
                <p>
                    <kbd class="text-muted bg-light small"> 
                        Asked by <strong>{{ question.asker }}</strong> | {{ question.created }}
                    </kbd>
                </p>
                {% if not forloop.last %}<hr />{% endif %}
            {% empty %}
                <p>
                    WOW! No one asks any question yet!
                </p>
            {% endfor %}
        </div>
        <div class="card-footer">
            {% include "a4s/pagination.html" with page=page_obj %}
        </div>
    </div>
{% endblock %}