<!-- a4s/templates/a4s/sub/display_question.html -->

{% load markdownify %}
<div class="card" >
  <div class="card-header">
    <h5>Question</h5>
  </div>
  <div class="card-body">
    <span class="lead">{{ question.title }}</span><br/>
    <kbd class="text-muted small bg-light">
      Asked by <strong>{{ question.asker }}</strong> | {{ question.created }}
    </kbd><hr />
    <p>{{ question.description|markdownify }}</p>
  </div >
</div> 