<!-- a4s/templates/a4s/sub/list_answers.html -->

{% load markdownify %}

<div class="card" >
  <div class="card-header">
    <h5>Answers</h5>
  </div>
  <div class="card-body">
    <ul class="list-unstyled" >
      {% for answer in question.answer_set.all %}
        <li class="row">
          <div class="col-sm-2 col-md-1 text-center" >
            {% if answer.accepted %}
              <span class="badge badge-pill badge-success">Accepted</span >
            {% endif %}
            {% if answer.accepted and reject_form %}
              <form method="post"
                    action="{% url "a4s:update_answer_acceptance" pk=answer.id %}">
                    {% csrf_token %}
                    {{ reject_form }}
                    <button type="submit" class="btn btn-link" title="Reject answer">
                        <i class="fa fa-times" aria-hidden="true"></i>
                        Reject
                    </button >
              </form >
            {% elif accept_form %}
              <form method="post"
                    action="{% url "a4s:update_answer_acceptance" pk=answer.id %}" >
                    {% csrf_token %}
                    {{ accept_form }}
                    <button type="submit" class="btn btn-link" title="Accept answer">
                        <i class="fa fa-check-circle" aria-hidden="true"></i >
                        Accept
                    </button >
              </form >
            {% endif %}
          </div >
          <div class="col-sm-10 col-md-11" >
            <div class="body" >{{ answer.description|markdownify }}</div >
            <div class="" >
              <kbd class="text-muted bg-light small">
                Answered by <strong>{{ answer.solver }}</strong> | {{ answer.created }}
              </kbd>
            </div >
          </div >
        </li >
        {% if not forloop.last %}<hr />{% endif %}
      {% empty %}
        <li class="answer" >No answers yet!</li >
      {% endfor %}
    </ul>
  </div>
</div > 
