{% load crispy_forms_tags %}

<div class="card" >
  <div class="card-header">
    <h5>Post Your Answer</h5>
  </div>
  <div class="card-body">
        <form method="post" action="{% url "a4s:create_answer" pk=question.id %}">
                {{ answer_form | crispy }}
                {% csrf_token %}
                <button class="btn btn-primary" type="submit" name="action" value="PREVIEW">Preview
                </button>
                <button class="btn btn-primary" type="submit" name="action" value="SAVE">Answer
                </button>
        </form>
  </div >
</div > 