<!-- users/templates/registration/password_change_form.html  -->

{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} Password Change {% endblock title %}

{% block content %}
  <h2>Password Change</h2>
  <p>
    Please enter your old password, for security's sake, and then enter your
    new password twice so we can verify you typed it in correctly.
  </p>
  <form method="post">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    {{ form|crispy }}
    <button class="btn btn-success mb-4" type="submit">Change My Password</button>
  </form>
{% endblock content %}
