<!-- users/templates/registration/password_reset_complete.html  -->

{% extends 'base.html' %}

{% block title %} Password Reset Complete{% endblock title %}

{% block content %}
  <h2>Password Reset Complete</h2>
  <p>
    Your new password has been set. You can log in now on the
    <a href="{% url 'login' %}">log in page</a>.
  </p>
{% endblock content %}
