<!-- users/templates/registration/password_change_done.html  -->

{% extends 'base.html' %}

{% block title %} Password Change Successful{% endblock title %}

{% block content %}
  <h2>Password Change Successful</h2>
  <p>You made it! You password was changed successfully.</p>
{% endblock content %}
