<!-- users/templates/registration/password_reset_confirm.html  -->

{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %} Enter New Password {% endblock title %}

{% block content %}
  <h2>Set New Password</h2>
  <form method="post">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    {{ form|crispy }}
    <button class="btn btn-success mb-4" type="submit">Change My Password</button>
  </form>
{% endblock content %}
